  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

  body{
    font-family: 'Roboto', sans-serif;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  nav.main-menu{
    background-color: lightgray;
  }
  ul.main-menu-ul{
    list-style-type: '✅';
    padding: 0;
    list-style-position: inside;
  }
  a.main-link{
    padding-right: 50px;
}
  a.main-link:hover{
    background-color: black;
    color: white;
  }

